/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
/* common style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
/* Header section style start */
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height: 677px;
    background-color:  #2D25A0;
}

.Game-name{
    margin-left: 56px;
}
.text{
    font-size: 65px;
    font-weight: bold;
    color:  #FFFFFF;
}
.link-button{
    background-color: #E02C6D;
    color: #FFFFFF;
    width: 168px;
    height: 44px;
    font-weight: 700; 
    border-radius: 10px;
    font-size: 16px;
    position: absolute;
}
.Game-name .link-button:hover{
    background-color: rgb(213, 89, 22);
}
.Game-name:hover .link-button{
    transform:translate(20px,-0px);
    transition: transform 1s ease-in-out;
}
.logo img {
    width: 400px;
    height: 438px;
    margin-top: 50px;
}
.logo img:hover{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}
/* Header section style End */
/* ---------------------------------------- */
/* player information style  start*/
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.player-info{
    box-shadow: 5px 2px 20px 2px #8a7b7b72;
    width: 330px;
    height: 474px;
    font-size: 16px;
   
}
.player-info .player img{
    width: 300px;
    height: 256px;
    margin: 15px;
   
}
.player .player-name{
    margin-left: 15px;
    margin-right: 15px;
}
.player .player-details{
    margin-left: 17px;
    margin-right: 17px;
   text-align: justify; 
   font-size: 16px; 
}
/* player information style  start*/
/* ----------------------------------------- */
/* field section style start */
.field img{
    height:280px ;
    left: 350px;
    top: 320px;
}
.field .logo{
    height: 200px;
}
.field{
    
    background-color: #03680f ;
    border: 1px solid blue;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 1050px;
    height: 400px;
    margin:30px;
    border-radius: 5px;
    
}
.field:hover .Messi{
    transform: scale(1.3);
    transition: transform 1s ease-in-out; 
}
.field:hover .logo{
    transform: scale(1.2);
    transition: transform 1s ease-in-out; 
}
.field:hover .Top-player{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

.field:hover .Ronaldo{
    transform: scale(1.4);
    transition: transform 1s ease-in-out;  
}
.Top-player{
    color: rgb(216, 110, 10);
    font-size: 30px;
    font-weight: 700;
}
span{
    font-size:50px;
    color: #FFFFFF;
}
/* field section style end*/
/* -------------------------------------- */
/* from style start */
form {
  
    border: 2px solid black;
    height: 200px;
    width:400px;
    background-color: darkgreen;  
}
h2{
    text-align: center;
}
hr{
    padding: 1px;
}
.from p{
    margin-left: 50px;
    color: #FFFFFF;
}
.Button{
  margin-left: 100px;
  background-color:#FFFFFF;
}
/* from style end */
/* ---------------------- */
/* Footer style  start*/
.footer-content img{
    width: 483.87px;
    height: 110px;
}

footer{
    margin-top: 100px;
    margin-bottom: 63px;
    height:50% ;
    width: 100%;
    padding-top: 40px;
    color: #FFFFFF
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px;
}
.socials li a {
    text-decoration: none;
    margin: 16px;
    
}
.fab.fontawesome{
    color: #969BAB;
    font-size: 30px;
    background-color: #bdbec4ab;
    padding: 10px;
    border-radius: 50px;

}
.fas.fontawesome{
    color: #969BAB;
    font-size: 30px;
    background-color: #bdbec4ab;
    padding: 10px;
    border-radius: 50px;
}
.footer-bottom p{
    color: black;
    text-align: center;
    font-size: 18px;
}
/* Footer style  End*/
/* media query*/
@media (max-width:688px) {
    /* Headar section responsiv start */
    .header-content{
        flex-direction: column;
        width:100%;
    }
    .Game-name .text{
        font-size:30px;
        margin-right: 180px;
    }
    .logo .header-img{
        width: 280px;
        height: 220px;
        left: 344px;
        top: 374px;
        margin-right:250px;        
    }
    /* Headar section responsiv start */
    /* ----------------------------------------------- */
    /* player section responsiv  start*/
   .players{
        grid-template-columns: repeat(1,1fr);
    }
    .player img{
        width: 100%;
    }
    /* player section responsiv  end*/
    /* -------------------------------------------- */
    /* Field section responsiv  start*/
    .field .Messi{
        height: 200px;
        width:150px;
    }
    .field .Ronaldo{
        height: 200px;
        width:150px;
    }
    .field .logo{
        height: 150px;
        width:150px;
    }
    span{
        font-size: 20px;
    }
    .field h1{
        font-size:10px;
    }
    .field{
        flex-direction: column;
        height: 600px;
        width: 320px;
    }
    /* Field section responsiv  End*/
    /* --------------------------------------- */
    /* Form section responsiv  Start*/
    .form{
        width: 100%;
    }
    /* Form section responsiv  Start*/
    /* ------------------------------------------- */
    /* Footer responsiv Start */
    footer{
        margin-bottom: 187px;
    }
    .footer-content img{
        height: auto;
        width: 200px;
    }
    .footer-bottom{
        margin-left: 20px;
    }
  /* Footer responsiv End*/
}